/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
@import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400&subset=latin,latin-ext);
/* line 1, ../sass/_system.scss */
.breadcrumb {
  font-size: .8em;
  opacity: .25;
}
/* line 4, ../sass/_system.scss */
.breadcrumb ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 8, ../sass/_system.scss */
.breadcrumb ol li {
  display: inline;
}

/* line 15, ../sass/_system.scss */
.tabs.primary {
  margin: 0 0 -4rem 0;
  font-size: .9em;
  text-transform: uppercase;
  list-style: none;
  padding: 0;
}
/* line 21, ../sass/_system.scss */
.tabs.primary li {
  display: inline-block;
}
/* line 23, ../sass/_system.scss */
.tabs.primary li a {
  display: inline-block;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: transparent;
  padding: 1em;
}
/* line 31, ../sass/_system.scss */
.tabs.primary li.is-active a {
  border-color: #3f51b5;
}

/* line 1, ../sass/_form.scss */
.input-field, input[type=text] {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 0;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #eee;
  font-size: inherit;
}
/* line 10, ../sass/_form.scss */
.input-field:focus, input[type=text]:focus {
  outline: 0;
  border-color: #ffc107;
}
/* line 14, ../sass/_form.scss */
.input-field ~ label, input[type=text] ~ label {
  color: #eee;
}

/* line 19, ../sass/_form.scss */
.input-list, .form-item.form-type-radio,
.form-item.form-type-checkbox {
  padding: 0 0 0 18rem;
  margin-bottom: 6rem;
  position: relative;
}
/* line 23, ../sass/_form.scss */
.input-list input, .form-item.form-type-radio input,
.form-item.form-type-checkbox input {
  position: absolute;
  left: -9999px;
  cursor: pointer;
}
/* line 28, ../sass/_form.scss */
.input-list label, .form-item.form-type-radio label,
.form-item.form-type-checkbox label {
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  margin: 2rem 0;
  padding: 2rem 0;
  display: block;
  font-size: 1em;
}
/* line 36, ../sass/_form.scss */
.input-list .form-checkboxes, .form-item.form-type-radio .form-checkboxes,
.form-item.form-type-checkbox .form-checkboxes,
.input-list .form-radios,
.form-item.form-type-radio .form-radios,
.form-item.form-type-checkbox .form-radios {
  margin: 2rem 0;
  padding: 1px 0 0 0;
}

/* line 44, ../sass/_form.scss */
.checkbox input + label:before, .form-type-checkbox input + label:before,
.checkbox input + label:after,
.form-type-checkbox input + label:after {
  position: absolute;
  content: '';
  top: 2rem;
  left: 4rem;
  height: 6rem;
  width: 6rem;
  border-width: 2px;
  border-radius: 1rem;
  border-style: solid;
  border-color: #eee;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
}
/* line 59, ../sass/_form.scss */
.checkbox input:checked + label, .form-type-checkbox input:checked + label {
  color: #ffc107;
}
/* line 62, ../sass/_form.scss */
.checkbox input:checked + label:before, .form-type-checkbox input:checked + label:before {
  border-color: #ffc107;
}
/* line 65, ../sass/_form.scss */
.checkbox input:checked + label:after, .form-type-checkbox input:checked + label:after {
  position: absolute;
  content: '';
  top: 2rem;
  left: 5rem;
  height: 3rem;
  width: 7rem;
  transform: rotate(-45deg);
  border-width: 0 0 1rem 1rem;
  border-style: solid;
  border-radius: 0 0 0 1rem;
  border-color: #ffc107;
}

/* line 80, ../sass/_form.scss */
.radio input + label:before, .form-type-radio input + label:before,
.radio input + label:after,
.form-type-radio input + label:after {
  position: absolute;
  content: '';
  top: 2rem;
  left: 4rem;
  height: 6rem;
  width: 6rem;
  border-width: 2px;
  border-radius: 50%;
  border-style: solid;
  border-color: #eee;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
}
/* line 95, ../sass/_form.scss */
.radio input:checked + label, .form-type-radio input:checked + label {
  color: #ffc107;
}
/* line 98, ../sass/_form.scss */
.radio input:checked + label:before, .form-type-radio input:checked + label:before {
  border-color: #ffc107;
}
/* line 101, ../sass/_form.scss */
.radio input:checked + label:after, .form-type-radio input:checked + label:after {
  position: absolute;
  content: '';
  box-sizing: border-box;
  margin: 1rem;
  border: 0;
  background-color: #ffc107;
  width: 4rem;
  height: 4rem;
}

/* line 114, ../sass/_form.scss */
.textarea, textarea {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #eee;
  font-size: inherit;
  line-height: inherit;
  padding: 1rem;
}

/* line 123, ../sass/_form.scss */
.fieldset, fieldset {
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: #eee;
}
/* line 128, ../sass/_form.scss */
.fieldset legend, fieldset legend {
  float: left;
  opacity: .89;
}
/* line 132, ../sass/_form.scss */
.fieldset .fieldset-wrapper, fieldset .fieldset-wrapper {
  clear: both;
}

/* line 137, ../sass/_form.scss */
.form-actions {
  padding: 1.5rem;
  text-align: right;
}

/* line 141, ../sass/_form.scss */
.button, button,
input[type=submit], .actions button,
.actions input[type=submit] {
  text-transform: uppercase;
  padding: 1em;
  margin: .5em;
  border-radius: 1rem;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
  color: #ffc107;
}
/* line 151, ../sass/_form.scss */
.button:hover, button:hover,
input[type=submit]:hover {
  background-color: #8c9eff;
  color: rgba(0, 0, 0, 0.87);
}
/* line 154, ../sass/_form.scss */
.button:focus, button:focus,
input[type=submit]:focus {
  background-color: #536dfe;
  color: #fff;
}
/* line 157, ../sass/_form.scss */
.button:active, button:active,
input[type=submit]:active {
  background-color: #3d5afe;
  color: #fff;
}

/* line 165, ../sass/_form.scss */
.form-item {
  margin-bottom: 2em;
}
/* line 167, ../sass/_form.scss */
.form-item label {
  display: block;
  opacity: .87;
  font-size: .9em;
}
/* line 172, ../sass/_form.scss */
.form-item .description {
  font-size: .8em;
  padding: 1em 0;
  opacity: .8;
}

/* line 210, ../sass/_form.scss */
.grippie {
  display: none;
}

/* Test ************************/
/* line 1, ../sass/_html-elements.scss */
html {
  font-size: 4px;
}

/* line 4, ../sass/_html-elements.scss */
body {
  font-size: 16px;
  line-height: 1.6em;
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
}

/* line 10, ../sass/_html-elements.scss */
h1 {
  font-size: 34px;
  font-weight: 300;
}

/* line 14, ../sass/_html-elements.scss */
h2 {
  font-size: 20px;
  font-weight: 400;
}

/* line 18, ../sass/_html-elements.scss */
h3 {
  font-size: 16px;
  font-weight: 400;
}

/* line 22, ../sass/_html-elements.scss */
h4 {
  font-size: 14px;
  font-weight: 400;
}

/* line 26, ../sass/_html-elements.scss */
h5 {
  font-size: 12px;
  font-weight: 400;
}

/* line 30, ../sass/_html-elements.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 35, ../sass/_html-elements.scss */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: .9em;
}
/* line 40, ../sass/_html-elements.scss */
table tr th {
  border-bottom: 1px solid #eee;
  font-weight: 500;
}
/* line 48, ../sass/_html-elements.scss */
table tr:hover th,
table tr:hover td {
  border-bottom: 1px solid #eee;
}
/* line 54, ../sass/_html-elements.scss */
table th,
table td {
  text-align: left;
  font-weight: inherit;
  padding: 1em .5em;
  border-bottom: 1px solid transparent;
}

/* line 63, ../sass/_html-elements.scss */
div.vertical-tabs {
  border: 0;
}
/* line 65, ../sass/_html-elements.scss */
div.vertical-tabs ul.vertical-tabs-list {
  border: 0;
}
/* line 67, ../sass/_html-elements.scss */
div.vertical-tabs ul.vertical-tabs-list li {
  background-color: transparent;
  padding-right: 8rem;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #eee;
}
/* line 68, ../sass/_html-elements.scss */
div.vertical-tabs ul.vertical-tabs-list li a {
  padding: 1em .5em;
}
/* line 77, ../sass/_html-elements.scss */
div.vertical-tabs ul.vertical-tabs-list li:first-child {
  border-top-width: 1px;
}
/* line 80, ../sass/_html-elements.scss */
div.vertical-tabs ul.vertical-tabs-list li.selected:first-child {
  border-top: 0;
}
/* line 83, ../sass/_html-elements.scss */
div.vertical-tabs ul.vertical-tabs-list li.selected:last-child {
  border-bottom: 0;
}

/* line 2, ../sass/_article.scss */
article .submitted {
  position: relative;
  margin-bottom: 16rem;
}
/* line 5, ../sass/_article.scss */
article .submitted .user-picture {
  display: block;
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: -20rem;
  overflow: hidden;
  border-radius: 50%;
}
/* line 13, ../sass/_article.scss */
article .submitted .user-picture img {
  width: 100%;
  height: 100%;
}
/* line 18, ../sass/_article.scss */
article .submitted time {
  display: block;
  opacity: .5;
  font-size: .9em;
}
/* line 24, ../sass/_article.scss */
article .field {
  margin-bottom: 8rem;
}
/* line 26, ../sass/_article.scss */
article .field .field-label {
  display: block;
  opacity: .87;
  font-size: .9em;
  font-weight: normal;
}

/* HTML element (SMACSS base) rules */
/* line 1, ../sass/_normalize.scss */
:focus {
  outline: none;
  border-color: #ffc107;
}

/* Layout rules */
/* Component (SMACSS module) rules */
/* SMACSS theme rules */
/**
 * @file
 */
/* line 17, ../sass/_theme.scss */
#header {
  background-color: #ffc107;
  color: rgba(0, 0, 0, 0.87);
  height: 16rem;
}
/* line 20, ../sass/_theme.scss */
#header > * {
  display: inline-block;
}
/* line 23, ../sass/_theme.scss */
#header #logo {
  padding: 1rem 4rem;
}
/* line 24, ../sass/_theme.scss */
#header #logo img {
  height: 14rem;
}

/* line 35, ../sass/_theme.scss */
#content > .title, #content > .content {
  padding: 4rem 8rem;
}
/* line 39, ../sass/_theme.scss */
#content > .title {
  background-color: #ffc107;
  color: rgba(0, 0, 0, 0.87);
}
/* line 42, ../sass/_theme.scss */
#content > .content {
  padding-left: 24rem;
}
