/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
@import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400&subset=latin,latin-ext);
/* line 1, ../sass/_form.scss */
.input-field, input[type=text] {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 0;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #eee;
}
/* line 9, ../sass/_form.scss */
.input-field:focus, input[type=text]:focus {
  outline: 0;
  border-color: #3f51b5;
}
/* line 13, ../sass/_form.scss */
.input-field ~ label, input[type=text] ~ label {
  color: #eee;
}

/* line 18, ../sass/_form.scss */
.input-list, .form-type-radio,
.form-type-checkbox {
  padding: 4rem 4rem 4rem 18rem;
  position: relative;
}
/* line 21, ../sass/_form.scss */
.input-list label, .form-type-radio label,
.form-type-checkbox label {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
}
/* line 25, ../sass/_form.scss */
.input-list input, .form-type-radio input,
.form-type-checkbox input {
  position: absolute;
  left: -9999px;
}

/* line 32, ../sass/_form.scss */
.checkbox input + label:before, .form-type-checkbox input + label:before,
.checkbox input + label:after,
.form-type-checkbox input + label:after {
  position: absolute;
  content: '';
  top: 3rem;
  left: 4rem;
  height: 6rem;
  width: 6rem;
  border-width: 2px;
  border-radius: 1rem;
  border-style: solid;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
}
/* line 46, ../sass/_form.scss */
.checkbox input:checked + label, .form-type-checkbox input:checked + label {
  color: #3f51b5;
}
/* line 49, ../sass/_form.scss */
.checkbox input:checked + label:before, .form-type-checkbox input:checked + label:before {
  border-color: #3f51b5;
}
/* line 52, ../sass/_form.scss */
.checkbox input:checked + label:after, .form-type-checkbox input:checked + label:after {
  position: absolute;
  content: '';
  top: 3rem;
  left: 5rem;
  height: 3rem;
  width: 7rem;
  transform: rotate(-45deg);
  border-width: 0 0 1rem 1rem;
  border-style: solid;
  border-radius: 0 0 0 1rem;
  border-color: #3f51b5;
}

/* line 67, ../sass/_form.scss */
.radio input + label:before, .form-type-radio input + label:before,
.radio input + label:after,
.form-type-radio input + label:after {
  position: absolute;
  content: '';
  top: 3rem;
  left: 4rem;
  height: 6rem;
  width: 6rem;
  border-width: 2px;
  border-radius: 50%;
  border-style: solid;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
}
/* line 81, ../sass/_form.scss */
.radio input:checked + label, .form-type-radio input:checked + label {
  color: #3f51b5;
}
/* line 84, ../sass/_form.scss */
.radio input:checked + label:before, .form-type-radio input:checked + label:before {
  border-color: #3f51b5;
}
/* line 87, ../sass/_form.scss */
.radio input:checked + label:after, .form-type-radio input:checked + label:after {
  position: absolute;
  content: '';
  box-sizing: border-box;
  margin: 1rem;
  border: 0;
  background-color: #3f51b5;
  width: 4rem;
  height: 4rem;
}

/* line 115, ../sass/_form.scss */
.grippie {
  display: none;
}

/* HTML element (SMACSS base) rules */
/* Layout rules */
/* Component (SMACSS module) rules */
/* SMACSS theme rules */
/**
 * @file
 */
/* line 8, ../sass/_theme.scss */
html {
  font-size: 4px;
}

/* line 11, ../sass/_theme.scss */
body {
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
}

/* line 16, ../sass/_theme.scss */
h1 {
  font-size: 34px;
  font-weight: 300;
}

/* line 20, ../sass/_theme.scss */
h2 {
  font-size: 20px;
  font-weight: 400;
}

/* line 24, ../sass/_theme.scss */
h3 {
  font-size: 16px;
  font-weight: 400;
}

/* line 28, ../sass/_theme.scss */
h4 {
  font-size: 14px;
  font-weight: 400;
}

/* line 32, ../sass/_theme.scss */
h5 {
  font-size: 12px;
  font-weight: 400;
}

/* line 36, ../sass/_theme.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 49, ../sass/_theme.scss */
#header {
  background-color: #3f51b5;
  color: rgba(255, 255, 255, 0.87);
}
