
$material-color-dark: rgba(0, 0, 0, 0.87);
$material-color-light-strong: #fff;
$material-color-light: rgba(255,255,255,0.87);


@function material-build-map($main-color, $extra-color) {
  $map: (
          main-color: $main-color,
          extra-color: $extra-color,
  );
  @return $map;
}

$material-colors: (
        'red': (
                '50': material-build-map(#ffebee, $material-color-dark),
                '100': material-build-map(#ffcdd2, $material-color-dark),
                '200': material-build-map(#ef9a9a, $material-color-dark),
                '300': material-build-map(#e57373, $material-color-dark),
                '400': material-build-map(#ef5350, $material-color-dark),
                '500': material-build-map(#f44336, $material-color-light-strong),
                '600': material-build-map(#e53935, $material-color-light-strong),
                '700': material-build-map(#d32f2f, $material-color-light-strong),
                '800': material-build-map(#c62828, $material-color-light),
                '900': material-build-map(#b71c1c, $material-color-light),
                'a100': material-build-map(#ff8a80, $material-color-dark),
                'a200': material-build-map(#ff5252, $material-color-light-strong),
                'a400': material-build-map(#ff1744, $material-color-light-strong),
                'a700': material-build-map(#d50000, $material-color-light-strong),
        ),

        'pink': (
                '50': material-build-map(#fce4ec, $material-color-dark),
                '100': material-build-map(#f8bbd0, $material-color-dark),
                '200': material-build-map(#f48fb1, $material-color-dark),
                '300': material-build-map(#f06292, $material-color-dark),
                '400': material-build-map(#ec407a, $material-color-dark),
                '500': material-build-map(#e91e63, $material-color-light-strong),
                '600': material-build-map(#d81b60, $material-color-light-strong),
                '700': material-build-map(#c2185b, $material-color-light),
                '800': material-build-map(#ad1457, $material-color-light),
                '900': material-build-map(#880e4f, $material-color-light),
                'a100': material-build-map(#ff80ab, $material-color-dark),
                'a200': material-build-map(#ff4081, $material-color-light-strong),
                'a400': material-build-map(#f50057, $material-color-light-strong),
                'a700': material-build-map(#c51162, $material-color-light-strong),
        ),

        'purple': (
                '50': material-build-map(#f3e5f5, $material-color-dark),
                '100': material-build-map(#e1bee7, $material-color-dark),
                '200': material-build-map(#ce93d8, $material-color-dark),
                '300': material-build-map(#ba68c8, $material-color-light-strong),
                '400': material-build-map(#ab47bc, $material-color-light-strong),
                '500': material-build-map(#9c27b0, $material-color-light),
                '600': material-build-map(#8e24aa, $material-color-light),
                '700': material-build-map(#7b1fa2, $material-color-light),
                '800': material-build-map(#6a1b9a, $material-color-light),
                '900': material-build-map(#4a148c, $material-color-light),
                'a100': material-build-map(#ea80fc, $material-color-light),
                'a200': material-build-map(#e040fb, $material-color-light-strong),
                'a400': material-build-map(#d500f9, $material-color-light-strong),
                'a700': material-build-map(#aa00ff, $material-color-light-strong),
        ),

        'deep-purple': (
                '50': material-build-map(#ede7f6, $material-color-dark),
                '100': material-build-map(#d1c4e9, $material-color-dark),
                '200': material-build-map(#b39ddb, $material-color-dark),
                '300': material-build-map(#9575cd, $material-color-light-strong),
                '400': material-build-map(#7e57c2, $material-color-light-strong),
                '500': material-build-map(#673ab7, $material-color-light),
                '600': material-build-map(#5e35b1, $material-color-light),
                '700': material-build-map(#512da8, $material-color-light),
                '800': material-build-map(#4527a0, $material-color-light),
                '900': material-build-map(#311b92, $material-color-light),
                'a100': material-build-map(#b388ff, $material-color-dark),
                'a200': material-build-map(#7c4dff, $material-color-light-strong),
                'a400': material-build-map(#651fff, $material-color-light),
                'a700': material-build-map(#6200ea, $material-color-light),
        ),

        'indigo': (
                '50': material-build-map(#e8eaf6, $material-color-dark),
                '100': material-build-map(#c5cae9, $material-color-dark),
                '200': material-build-map(#9fa8da, $material-color-dark),
                '300': material-build-map(#7986cb, $material-color-light-strong),
                '400': material-build-map(#5c6bc0, $material-color-light-strong),
                '500': material-build-map(#3f51b5, $material-color-light),
                '600': material-build-map(#3949ab, $material-color-light),
                '700': material-build-map(#303f9f, $material-color-light),
                '800': material-build-map(#283593, $material-color-light),
                '900': material-build-map(#1a237e, $material-color-light),
                'a100': material-build-map(#8c9eff, $material-color-dark),
                'a200': material-build-map(#536dfe, $material-color-light-strong),
                'a400': material-build-map(#3d5afe, $material-color-light-strong),
                'a700': material-build-map(#304ffe, $material-color-light),
        ),

        'blue': (
                '50': material-build-map(#e3f2fd, $material-color-dark),
                '100': material-build-map(#bbdefb, $material-color-dark),
                '200': material-build-map(#90caf9, $material-color-dark),
                '300': material-build-map(#64b5f6, $material-color-dark),
                '400': material-build-map(#42a5f5, $material-color-dark),
                '500': material-build-map(#2196f3, $material-color-light-strong),
                '600': material-build-map(#1e88e5, $material-color-light-strong),
                '700': material-build-map(#1976d2, $material-color-light-strong),
                '800': material-build-map(#1565c0, $material-color-light),
                '900': material-build-map(#0d47a1, $material-color-light),
                'a100': material-build-map(#82b1ff, $material-color-dark),
                'a200': material-build-map(#448aff, $material-color-light-strong),
                'a400': material-build-map(#2979ff, $material-color-light-strong),
                'a700': material-build-map(#2962ff, $material-color-light-strong),
        ),

        'light-blue': (
                '50': material-build-map(#e1f5fe, $material-color-dark),
                '100': material-build-map(#b3e5fc, $material-color-dark),
                '200': material-build-map(#81d4fa, $material-color-dark),
                '300': material-build-map(#4fc3f7, $material-color-dark),
                '400': material-build-map(#29b6f6, $material-color-dark),
                '500': material-build-map(#03a9f4, $material-color-light-strong),
                '600': material-build-map(#039be5, $material-color-light-strong),
                '700': material-build-map(#0288d1, $material-color-light-strong),
                '800': material-build-map(#0277bd, $material-color-light-strong),
                '900': material-build-map(#01579b, $material-color-light),
                'a100': material-build-map(#80d8ff, $material-color-dark),
                'a200': material-build-map(#40c4ff, $material-color-dark),
                'a400': material-build-map(#00b0ff, $material-color-dark),
                'a700': material-build-map(#0091ea, $material-color-light-strong),
        ),

        'cyan': (
                '50': material-build-map(#e0f7fa, $material-color-dark),
                '100': material-build-map(#b2ebf2, $material-color-dark),
                '200': material-build-map(#80deea, $material-color-dark),
                '300': material-build-map(#4dd0e1, $material-color-dark),
                '400': material-build-map(#26c6da, $material-color-dark),
                '500': material-build-map(#00bcd4, $material-color-light-strong),
                '600': material-build-map(#00acc1, $material-color-light-strong),
                '700': material-build-map(#0097a7, $material-color-light-strong),
                '800': material-build-map(#00838f, $material-color-light-strong),
                '900': material-build-map(#006064, $material-color-light),
                'a100': material-build-map(#84ffff, $material-color-dark),
                'a200': material-build-map(#18ffff, $material-color-dark),
                'a400': material-build-map(#00e5ff, $material-color-dark),
                'a700': material-build-map(#00b8d4, $material-color-dark),
        ),

        'teal': (
                '50': material-build-map(#e0f2f1, $material-color-dark),
                '100': material-build-map(#b2dfdb, $material-color-dark),
                '200': material-build-map(#80cbc4, $material-color-dark),
                '300': material-build-map(#4db6ac, $material-color-dark),
                '400': material-build-map(#26a69a, $material-color-dark),
                '500': material-build-map(#009688, $material-color-light-strong),
                '600': material-build-map(#00897b, $material-color-light-strong),
                '700': material-build-map(#00796b, $material-color-light-strong),
                '800': material-build-map(#00695c, $material-color-light),
                '900': material-build-map(#004d40, $material-color-light),
                'a100': material-build-map(#a7ffeb, $material-color-dark),
                'a200': material-build-map(#64ffda, $material-color-dark),
                'a400': material-build-map(#1de9b6, $material-color-dark),
                'a700': material-build-map(#00bfa5, $material-color-dark),
        ),

        'green': (
                '50': material-build-map(#e8f5e9, $material-color-dark),
                '100': material-build-map(#c8e6c9, $material-color-dark),
                '200': material-build-map(#a5d6a7, $material-color-dark),
                '300': material-build-map(#81c784, $material-color-dark),
                '400': material-build-map(#66bb6a, $material-color-dark),
                '500': material-build-map(#4caf50, $material-color-light-strong),
                '600': material-build-map(#43a047, $material-color-light-strong),
                '700': material-build-map(#388e3c, $material-color-light-strong),
                '800': material-build-map(#2e7d32, $material-color-light),
                '900': material-build-map(#1b5e20, $material-color-light),
                'a100': material-build-map(#b9f6ca, $material-color-dark),
                'a200': material-build-map(#69f0ae, $material-color-dark),
                'a400': material-build-map(#00e676, $material-color-dark),
                'a700': material-build-map(#00c853, $material-color-dark),
        ),

        'light-green': (
                '50': material-build-map(#f1f8e9, $material-color-dark),
                '100': material-build-map(#dcedc8, $material-color-dark),
                '200': material-build-map(#c5e1a5, $material-color-dark),
                '300': material-build-map(#aed581, $material-color-dark),
                '400': material-build-map(#9ccc65, $material-color-dark),
                '500': material-build-map(#8bc34a, $material-color-dark),
                '600': material-build-map(#7cb342, $material-color-dark),
                '700': material-build-map(#689f38, $material-color-dark),
                '800': material-build-map(#558b2f, $material-color-light-strong),
                '900': material-build-map(#33691e, $material-color-light-strong),
                'a100': material-build-map(#ccff90, $material-color-dark),
                'a200': material-build-map(#b2ff59, $material-color-dark),
                'a400': material-build-map(#76ff03, $material-color-dark),
                'a700': material-build-map(#64dd17, $material-color-dark),
        ),

        'lime': (
                '50': material-build-map(#f9fbe7, $material-color-dark),
                '100': material-build-map(#f0f4c3, $material-color-dark),
                '200': material-build-map(#e6ee9c, $material-color-dark),
                '300': material-build-map(#dce775, $material-color-dark),
                '400': material-build-map(#d4e157, $material-color-dark),
                '500': material-build-map(#cddc39, $material-color-dark),
                '600': material-build-map(#c0ca33, $material-color-dark),
                '700': material-build-map(#afb42b, $material-color-dark),
                '800': material-build-map(#9e9d24, $material-color-dark),
                '900': material-build-map(#827717, $material-color-light-strong),
                'a100': material-build-map(#f4ff81, $material-color-dark),
                'a200': material-build-map(#eeff41, $material-color-dark),
                'a400': material-build-map(#c6ff00, $material-color-dark),
                'a700': material-build-map(#aeea00, $material-color-dark),
        ),

        'yellow': (
                '50': material-build-map(#fffde7, $material-color-dark),
                '100': material-build-map(#fff9c4, $material-color-dark),
                '200': material-build-map(#fff59d, $material-color-dark),
                '300': material-build-map(#fff176, $material-color-dark),
                '400': material-build-map(#ffee58, $material-color-dark),
                '500': material-build-map(#ffeb3b, $material-color-dark),
                '600': material-build-map(#fdd835, $material-color-dark),
                '700': material-build-map(#fbc02d, $material-color-dark),
                '800': material-build-map(#f9a825, $material-color-dark),
                '900': material-build-map(#f57f17, $material-color-dark),
                'a100': material-build-map(#ffff8d, $material-color-dark),
                'a200': material-build-map(#ffff00, $material-color-dark),
                'a400': material-build-map(#ffea00, $material-color-dark),
                'a700': material-build-map(#ffd600, $material-color-dark),
        ),

        'amber': (
                '50': material-build-map(#fff8e1, $material-color-dark),
                '100': material-build-map(#ffecb3, $material-color-dark),
                '200': material-build-map(#ffe082, $material-color-dark),
                '300': material-build-map(#ffd54f, $material-color-dark),
                '400': material-build-map(#ffca28, $material-color-dark),
                '500': material-build-map(#ffc107, $material-color-dark),
                '600': material-build-map(#ffb300, $material-color-dark),
                '700': material-build-map(#ffa000, $material-color-dark),
                '800': material-build-map(#ff8f00, $material-color-dark),
                '900': material-build-map(#ff6f00, $material-color-dark),
                'a100': material-build-map(#ffe57f, $material-color-dark),
                'a200': material-build-map(#ffd740, $material-color-dark),
                'a400': material-build-map(#ffc400, $material-color-dark),
                'a700': material-build-map(#ffab00, $material-color-dark),
        ),

        'orange': (
                '50': material-build-map(#fff3e0, $material-color-dark),
                '100': material-build-map(#ffe0b2, $material-color-dark),
                '200': material-build-map(#ffcc80, $material-color-dark),
                '300': material-build-map(#ffb74d, $material-color-dark),
                '400': material-build-map(#ffa726, $material-color-dark),
                '500': material-build-map(#ff9800, $material-color-dark),
                '600': material-build-map(#fb8c00, $material-color-dark),
                '700': material-build-map(#f57c00, $material-color-dark),
                '800': material-build-map(#ef6c00, $material-color-light-strong),
                '900': material-build-map(#e65100, $material-color-light-strong),
                'a100': material-build-map(#ffd180, $material-color-dark),
                'a200': material-build-map(#ffab40, $material-color-dark),
                'a400': material-build-map(#ff9100, $material-color-dark),
                'a700': material-build-map(#ff6d00, $material-color-dark),
        ),

        'deep-orange': (
                '50': material-build-map(#fbe9e7, $material-color-dark),
                '100': material-build-map(#ffccbc, $material-color-dark),
                '200': material-build-map(#ffab91, $material-color-dark),
                '300': material-build-map(#ff8a65, $material-color-dark),
                '400': material-build-map(#ff7043, $material-color-dark),
                '500': material-build-map(#ff5722, $material-color-light-strong),
                '600': material-build-map(#f4511e, $material-color-light-strong),
                '700': material-build-map(#e64a19, $material-color-light-strong),
                '800': material-build-map(#d84315, $material-color-light-strong),
                '900': material-build-map(#bf360c, $material-color-light-strong),
                'a100': material-build-map(#ff9e80, $material-color-dark),
                'a200': material-build-map(#ff6e40, $material-color-dark),
                'a400': material-build-map(#ff3d00, $material-color-light-strong),
                'a700': material-build-map(#dd2c00, $material-color-light-strong),
        ),

        'brown': (
                '50': material-build-map(#efebe9, $material-color-dark),
                '100': material-build-map(#d7ccc8, $material-color-dark),
                '200': material-build-map(#bcaaa4, $material-color-dark),
                '300': material-build-map(#a1887f, $material-color-light-strong),
                '400': material-build-map(#8d6e63, $material-color-light-strong),
                '500': material-build-map(#795548, $material-color-light),
                '600': material-build-map(#6d4c41, $material-color-light),
                '700': material-build-map(#5d4037, $material-color-light),
                '800': material-build-map(#4e342e, $material-color-light),
                '900': material-build-map(#3e2723, $material-color-light),
        ),

        'grey': (
                '50': material-build-map(#fafafa, $material-color-dark),
                '100': material-build-map(#f5f5f5, $material-color-dark),
                '200': material-build-map(#eeeeee, $material-color-dark),
                '300': material-build-map(#e0e0e0, $material-color-dark),
                '400': material-build-map(#bdbdbd, $material-color-dark),
                '500': material-build-map(#9e9e9e, $material-color-dark),
                '600': material-build-map(#757575, $material-color-light),
                '700': material-build-map(#616161, $material-color-light),
                '800': material-build-map(#424242, $material-color-light),
                '900': material-build-map(#212121, $material-color-light),
        ),

        'blue-grey': (
                '50': material-build-map(#eceff1, $material-color-dark),
                '100': material-build-map(#cfd8dc, $material-color-dark),
                '200': material-build-map(#b0bec5, $material-color-dark),
                '300': material-build-map(#90a4ae, $material-color-dark),
                '400': material-build-map(#78909c, $material-color-light-strong),
                '500': material-build-map(#607d8b, $material-color-light-strong),
                '600': material-build-map(#546e7a, $material-color-light),
                '700': material-build-map(#455a64, $material-color-light),
                '800': material-build-map(#37474f, $material-color-light),
                '900': material-build-map(#263238, $material-color-light),
                '1000': material-build-map(#11171a, $material-color-light),
        )
);



@function material-get-color($color: $base-color, $variant: '500', $type: 'main-color') {
        $c: map-get($material-colors, $color);
        $v: map-get($c, $variant);
        $t: map-get($v, $type);
        @return $t;
        //  @return map-get(map-get(map-get($material-colors, $color), $variant), $type);
}

@mixin material-background($color, $variant: '500') {
        background-color: material-get-color($color, $variant, 'main-color');
        color: material-get-color($color, $variant, 'extra-color');
}
