.input-field {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 0;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: $form-border-default-color;
  &:focus {
    outline: 0;
    border-color: material-get-color($base-color);
  }
  & ~ label {
    color: $form-border-default-color;
  }
}

.input-list {
  padding: 4rem 4rem 4rem 18rem;
  position: relative;
  input {
    position: absolute;
    left: -9999px;
  }
  label {
    color: $material-color-dark;
  }
}

.checkbox {
  input + label:before,
  input + label:after {
    position: absolute;
    content: '';
    top: 3rem;
    left: 4rem;
    height: 6rem;
    width: 6rem;
    border-width: 1px;
    border-radius: 1rem;
    border-style: solid;
    color: $material-color-dark;
    box-sizing: border-box;
  }
  input:checked + label {
    color: material-get-color($base-color);
  }
  input:checked + label:before {
    border-color: material-get-color($base-color);
  }
  input:checked + label:after {
    position: absolute;
    content: '';
    top: 3rem;
    left: 5rem;
    height: 3rem;
    width: 7rem;
    transform: rotate(-45deg);
    border-width: 0 0 1rem 1rem;
    border-style: solid;
    border-radius: 0 0 0 1rem;
    border-color: material-get-color($base-color);
  }
}
.radio {
  input + label:before,
  input + label:after {
    position: absolute;
    content: '';
    top: 3rem;
    left: 4rem;
    height: 6rem;
    width: 6rem;
    border-width: 1px;
    border-radius: 50%;
    border-style: solid;
    color: $material-color-dark;
    box-sizing: border-box;
  }
  input:checked + label {
    color: material-get-color($base-color);
  }
  input:checked + label:before {
    border-color: material-get-color($base-color);
  }
  input:checked + label:after {
    position: absolute;
    content: '';
    box-sizing: border-box;
    margin: 1rem;
    border: 0;
    background-color: material-get-color($base-color);
    width: 4rem;
    height: 4rem;
  }

}

.textarea {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: $form-border-default-color;
  font-size: inherit;
  line-height: inherit;
  padding: 1rem;
}

.fieldset {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: $form-border-default-color;
}

.form-actions {
  padding: 1.5rem;
  text-align: right;
}
.button {
  text-transform: uppercase;
  padding: 1em;
  margin: .5em;
  border-radius: 1rem;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
  &:hover {
    @include material-background($accent-color, 'a100');
  }
  &:focus {
    @include material-background($accent-color, 'a200');
  }
  &:active {
    @include material-background($accent-color, 'a400');
  }
}
.raised-button {

}

.form-item {
//  padding-left: 40%;
//  position: relative;
//  & + label {
//    width: 40%;
//    position: absolute;
//    right: 40%;
//    text-align: right;
//  }
  .description {
    font-size: .8em;
    padding: 1em 0;
    opacity: .8;
  }
}

.form-type-radio,
.form-type-checkbox {
  @extend .input-list;
}
.form-type-radio {
  @extend .radio;
}
.form-type-checkbox {
  @extend .checkbox;
}
textarea {
  @extend .textarea;
}
fieldset {
  @extend .fieldset;
}
input[type=text] {
  @extend .input-field;
}
button,
input[type=submit] {
  @extend .button;
}
.actions {
  button,
  input[type=submit] {
    @extend .button;
  }
}


.grippie {
  display: none;
}
