.input-field {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 0;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: $form-border-default-color;
  &:focus {
    outline: 0;
    border-color: material-get-color($base-color);
  }
  & ~ label {
    color: $form-border-default-color;
  }
}

.input-list {
  padding: 4rem 4rem 4rem 18rem;
  position: relative;
  label {
    color: $material-color-dark;
    font-size: $base-unit * 4;
  }
  input {
    position: absolute;
    left: -9999px;
  }
}

.checkbox {
  input + label:before,
  input + label:after {
    position: absolute;
    content: '';
    top: 3rem;
    left: 4rem;
    height: 6rem;
    width: 6rem;
    border-width: 2px;
    border-radius: 1rem;
    border-style: solid;
    color: $material-color-dark;
    box-sizing: border-box;
  }
  input:checked + label {
    color: material-get-color($base-color);
  }
  input:checked + label:before {
    border-color: material-get-color($base-color);
  }
  input:checked + label:after {
    position: absolute;
    content: '';
    top: 3rem;
    left: 5rem;
    height: 3rem;
    width: 7rem;
    transform: rotate(-45deg);
    border-width: 0 0 1rem 1rem;
    border-style: solid;
    border-radius: 0 0 0 1rem;
    border-color: material-get-color($base-color);
  }
}
.radio {
  input + label:before,
  input + label:after {
    position: absolute;
    content: '';
    top: 3rem;
    left: 4rem;
    height: 6rem;
    width: 6rem;
    border-width: 2px;
    border-radius: 50%;
    border-style: solid;
    color: $material-color-dark;
    box-sizing: border-box;
  }
  input:checked + label {
    color: material-get-color($base-color);
  }
  input:checked + label:before {
    border-color: material-get-color($base-color);
  }
  input:checked + label:after {
    position: absolute;
    content: '';
    box-sizing: border-box;
    margin: 1rem;
    border: 0;
    background-color: material-get-color($base-color);
    width: 4rem;
    height: 4rem;
  }

}

input[type=text] {
  @extend .input-field;
}

.form-type-radio,
.form-type-checkbox {
  @extend .input-list;
}
.form-type-radio {
  @extend .radio;
}
.form-type-checkbox {
  @extend .checkbox;
}

.grippie {
  display: none;
}