
@mixin container {
  max-width: 1150px;
  margin: 0 4rem;
  @media #{$break-tablet} {
    margin: 0 auto;
  }
}

@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

@mixin shadow {
  box-shadow: 0px 2px 10px rgba(0,0,0,.3);
//  box-shadow: 0px 2px 10px rgba(0,0,0,.3),0px 0px 1px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.15);
}

@mixin card {
  padding: 4rem;
  @include shadow;
  @include material-background('white');
  margin-bottom: 6rem;
  .links.inline {
    margin: 0 -4rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@mixin menu {
  padding: 0;
  font-size: .9em;
  margin: 2rem 0;
  list-style: none;
  li {
    a {
      display: block;
      padding: 4rem 5rem;
      &:hover {
        @include material-background('grey', '100');
      }
    }
    ul {
      font-size: 1em;
    }
  }
}

@mixin label {
  @include material-background('grey', '900');
  display: inline-block;
  font-size: .8em;
  border-radius: 2px;
  padding: 1rem 2rem;
}

@mixin floating-button {
  height: 14rem;
  width: 14rem;
  margin-top: 4rem;
  position: relative;
  a {
    @include label;
    position: absolute;
    right: 20rem;
    white-space: nowrap;
    top: 50%;
    margin-top: -1.3em;
    &:before {
      position: absolute;
      right: 0;
      width: 24rem;
      content: '+';
    }

  }
  &:before {
    @include material-background($accent-color);
    @include shadow;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    display: block;
    width: 14rem;
    height: 14rem;
    content: '';
    position: absolute;
  }
}