$base-unit: 4px;

$form-border-default-color: #ddd;

$base-color: 'brown';
$accent-color: 'lime';
$break-mobile: "only screen and (min-width : 480px)";
$break-tablet: "only screen and (min-width : 1150px)";
