.breadcrumb {
  font-size: .8em;
  opacity: .25;
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
    }
  }

}

.tabs {
  &.primary {
    font-size: .9em;
    margin: 0;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      a {
        display: inline-block;
        border-width: 0 0 2px 0;
        border-style: solid;
        border-color: transparent;
        padding: 1em;
      }
      &.is-active {
        a {
          border-color: material-get-color($accent-color);
        }
      }
    }
  }
  &.secondary {
    text-transform: uppercase;
    list-style: none;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    @include shadow;
    @include menu;
    @include material-background('white');
  }
}
#primary-local-tasks {
  margin-right: 3em;
  overflow: hidden;
  white-space: nowrap;
}
#secondary-local-tasks {
  position: relative;
  float: right;
  &:before {
    display: block;
    content: 't';
    padding: 1em;
  }
  &:hover {
    .tabs.secondary {
      display: block;
    }
  }
}

#messages {
  & > * {
    padding: 4rem 8rem;
  }
  .warning {
    @include material-background('yellow', '100');
  }
  .error {
    @include material-background('red', '900');
  }
}

.action-links {
  position: fixed;
  bottom: 6rem;
  right: 6rem;
  li {
    a {
      @extend .floating-button;
    }
    &:first-child {
      display: block;
    }
  }
}

.links {
  &.inline {
    list-style: none;
    margin: 2rem 0 0 0;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: $form-border-default-color;
    padding: 2rem 0 0 0;
    text-align: right;
    li {
      display: inline;
      a {
        @extend button;
      }
    }
  }
}

ul.menu {
  @include menu;
}
