.breadcrumb {
  font-size: .8em;
  opacity: .25;
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
    }
  }

}

.tabs {
  &.primary {
    margin: 0 0 -4rem 0;
    font-size: .9em;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      a {
        display: inline-block;
        border-width: 0 0 2px 0;
        border-style: solid;
        border-color: transparent;
        padding: 1em;
      }
      &.is-active {
        a {
          border-color: material-get-color($accent-color);
        }
      }
    }
  }
}

#messages {
  & > * {
    padding: 4rem 8rem;
  }
  .warning {
    @include material-background('yellow', '100');
  }
}

.action-links {
  position: fixed;
  bottom: 6rem;
  right: 6rem;
  li {
    a {
      @extend .floating-button;
    }
    &:first-child {
      display: block;
    }
  }
}

.links {
  &.inline {
    list-style: none;
    margin: 2rem 0 0 0;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: $form-border-default-color;
    padding: 2rem 0 0 0;
    text-align: right;
    li {
      display: inline;
      a {
        @extend button;
      }
    }
  }
}
