.breadcrumb {
  font-size: .8em;
  opacity: .25;
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
    }
  }

}
.tabs {
  &.primary {
    margin: 0 0 -4rem 0;
    font-size: .9em;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      a {
        display: inline-block;
        border-width: 0 0 2px 0;
        border-style: solid;
        border-color: transparent;
        padding: 1em;
      }
      &.is-active {
        a {
          border-color: material-get-color($accent-color);
        }
      }
    }
  }
}