/**
 * @file
 */



// init

.region {
  &.region-help {
    padding: 4rem 8rem;
    @include material-background('grey', '100');
    @include shadow;
  }
  &.region-highlighted {
    img {
    }
  }
  &.region-sidebar-first {
    position: fixed;
    left: 0;
    width: 75rem;
    top: 0;
    bottom: 0;
    @include material-background('white');
    padding-top: 16rem;
  }
}

.sidebar {

}

#page {
}

#header {
  margin-left: 75rem;
  @include material-background($base-color);
  height: 16rem;
  & > * {
    display: inline-block;
  }
  #logo {
    img {
      height: 14rem;
    }
    padding: 1rem 4rem;
  }
  #site-name {

  }
}

#content {
  margin-left: 75rem;
  & > .title,
  & > .content {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  & > .title {
    @include material-background($base-color, '500');
    position: relative;
    padding-top: 1px;
  }
  & > .content {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

body.page-node {
  &.section-node {
    @include material-background('white');
    #content > .content {
      padding-left: 24rem;
    }
  }
}
